<section id="work" class="work">
  <h2 class="numbered-heading">Some Things I've Built</h2>
  <div class="work-content">
    <ul class="ul m-0 p-0">
      <li  data-aos="fade-up" class="img mb-4">
        <div class="project-desc">
          <p class="mb-2">Featured Project</p>
          <h3 class="mb-4">Trendy Online Store</h3>
          <div class="description">
            <p>
              A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm,
              and more. Available on Visual Studio Marketplace, Package Control,
              Atom Package Manager, and npm.
            </p>
          </div>
          <ul class="tech-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>JavaScript</li>
            <li>AOS</li>
          </ul>
          <div class="project-links">
            <a
              href="https://github.com/Naranpurev/storefront.github.io"
              target="_blank"
              aria-label="Github Link"
            >
              <i class="fa fa-github"></i>
            </a>
            <a
              href="https://naranpurev.github.io/storefront.github.io/"
              target="_blank"
              aria-label="Direct Link"
              ><i class="fa fa-location-arrow"></i></a>
          </div>
        </div>
      </li>
      <li  data-aos="fade-up" class="img img2 mb-4">
        <div class="project-desc">
          <p class="mb-2">Featured Project</p>
          <h3 class="mb-4">Simple Devlogger</h3>
          <div class="description">
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa possimus magni omnis ducimus rem odio sit ex modi debitis, impedit provident quia, aspernatur tenetur sequi.
            </p>
          </div>
          <ul class="tech-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>Angular</li>
            <li>TypeScript</li>
          </ul>
          <div class="project-links">
            <a
              href="https://github.com/Naranpurev/naranpurev.github.io"
              target="_blank"
              aria-label="Github Link"
            >
              <i class="fa fa-github"></i>
            </a>
            <a
              href="https://naranpurev.github.io/"
              target="_blank"
              aria-label="Direct Link"
              ><i class="fa fa-location-arrow"></i></a>
          </div>
        </div>
      </li>
      <li  data-aos="fade-up" class="img img3">
        <div class="project-desc">
          <p class="mb-2">Featured Project</p>
          <h3 class="mb-4">Simple Game</h3>
          <div class="description">
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa possimus magni omnis ducimus rem odio sit ex modi debitis, impedit provident quia, aspernatur tenetur sequi.
            </p>
          </div>
          <ul class="tech-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
          </ul>
          <div class="project-links">
            <a
              href="https://github.com/Naranpurev/catchme"
              target="_blank"
              aria-label="Github Link"
            >
              <i class="fa fa-github"></i>
            </a>
            <a
              href="https://naranpurev.github.io/catchme/"
              target="_blank"
              aria-label="Direct Link"
              ><i class="fa fa-location-arrow"></i></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="otherProject text-center my-5">
    <h1>Other Noteworthy Projects</h1>
    <p>coming soon ...</p>
  </div>
</section>
