<section class="side text-center mb-5">
  <h2 class="note">Other Noteworthy Projects</h2>
  <a class="archive" href="">view the archive</a>
  <div data-aos="fade-down"  class="project-grid mt-5">
    <div class="project-inner p-4">
      <div class="icons d-flex justify-content-between mb-4">
        <i class="fa fa-folder-open"></i>
        <a target="_blank" href="https://naranpurev.github.io/notepad/notepad">
          <i class="fa fa-location-arrow"></i
        ></a>
      </div>
      <h2 class="text-left">Simple Note App</h2>
      <p class="text-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        autem dolorem ea vitae odio culpa.
      </p>
      <div class="madeWith">
        <li>Angular</li>
        <li>Typescript</li>
        <li>Firebase</li>
      </div>
    </div>
    <div class="project-inner p-4">
      <div class="icons d-flex justify-content-between mb-4">
        <i class="fa fa-folder-open"></i>
        <a target="_blank" href="https://naranpurev.github.io/notepad/notepad">
          <i class="fa fa-location-arrow"></i
        ></a>
      </div>
      <h2 class="text-left">Chat App <span class="coming">*coming soon</span></h2>
      <p class="text-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        autem dolorem ea vitae odio culpa.
      </p>
      <div class="madeWith">
        <li>Angular</li>
        <li>Typescript</li>
        <li>Firebase</li>
      </div>
    </div>
   
    <div class="project-inner p-4">
      <div class="icons d-flex justify-content-between mb-4">
        <i class="fa fa-folder-open"></i>
        <a target="_blank" href="https://github.com/Naranpurev/notepad">
          <i class="fa fa-location-arrow"></i
        ></a>
      </div>
      <h2 class="text-left">Place for Mongolian Community  <span class="coming">*coming soon</span></h2>
      <p class="text-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        autem dolorem ea vitae odio culpa.
      </p>
      <div class="madeWith">
        <li>Angular</li>
        <li>Typescript</li>
        <li>Firebase</li>
      </div>
    </div>
   
    <div class="project-inner p-4">
      <div class="icons d-flex justify-content-between mb-4">
        <i class="fa fa-folder-open"></i>
        <a target="_blank" href="https://github.com/Naranpurev/notepad">
          <i class="fa fa-location-arrow"></i
        ></a>
      </div>
      <h2 class="text-left">Crypto Exchange platform <span class="coming">*coming soon</span></h2>
      <p class="text-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        autem dolorem ea vitae odio culpa.
      </p>
      <div class="madeWith">
        <li>Angular</li>
        <li>Typescript</li>
        <li>Firebase</li>
      </div>
    </div>
   
    <div class="project-inner p-4">
      <div class="icons d-flex justify-content-between mb-4">
        <i class="fa fa-folder-open"></i>
        <a target="_blank" href="https://github.com/Naranpurev/notepad">
          <i class="fa fa-location-arrow"></i
        ></a>
      </div>
      <h2 class="text-left">Goal Tracker  <span class="coming">*coming soon</span></h2>
      <p class="text-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        autem dolorem ea vitae odio culpa.
      </p>
      <div class="madeWith">
        <li>Angular</li>
        <li>Typescript</li>
        <li>Firebase</li>
      </div>
    </div>
   
    <div class="project-inner p-4">
      <div class="icons d-flex justify-content-between mb-4">
        <i class="fa fa-folder-open"></i>
        <a target="_blank" href="https://github.com/Naranpurev/notepad">
          <i class="fa fa-location-arrow"></i
        ></a>
      </div>
      <h2 class="text-left">Budget Calculator  <span class="coming">*coming soon</span></h2>
      <p class="text-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        autem dolorem ea vitae odio culpa.
      </p>
      <div class="madeWith">
        <li>Angular</li>
        <li>Typescript</li>
        <li>Firebase</li>
      </div>
    </div>

  </div>
  <div class="text-center">
    <app-button [title]="title" [style]="buttonStyle"></app-button>
</div>
</section>
